<%-include partials/header.ejs%>
    <%-include partials/main_nav.ejs%>



        <h1 style="text-align: center;">
            <%= title %>
        </h1>
        <p style="text-align: center;">Welcome to my website.
            <%= title %>
             <p style="text-align: center;"> My name is Amanpreet Kaur </p>
        </p>
        <img style = "float:right;width: 400px;" src ="./Assets/images/Snapchat-123043081.jpg" alt="This is my image">
        <p>I am a student of centennial college. I am enrolled in software engineering technology-AI advance diploma course. I am thinking to make my career in the same field.  

        </p>
        <P>Link to the resume <a href="./pdf/">Click here</a></P>

        <%-include partials/bottom_nav.ejs%>
            <%-include partials/footer.ejs%>