<%-include partials/header.ejs%>
    <%-include partials/main_nav.ejs%>



        <h1 style="text-align: center;">
            <%= title %>
        </h1>
        <p style="text-align: center;">Welcome to website</p>

            <%= title %>
        </p>
        <p>Our products are as follows:</p>
        <p>coding</p>
        <p>SRS dosuments</p>
        <p>Use of various language like HTML,Java etc.</p>
        <%-include partials/bottom_nav.ejs%>
            <%-include partials/footer.ejs%>