<%-include partials/header.ejs%>
    <%-include partials/main_nav.ejs%>



        <h1 style="text-align: center;">
            <%= title %>
        </h1>
        <p style="text-align: center;">Welcome to
            <%= title %>
        </p>
        <p style="text-align: center;">We provide the best facility to our client.</p>
        <ul>
            <li>Developer</li>
            <li>Web Developer</li>
            <li>Business Analyst</li>
            <li>AI engineer</li>
            <li>Mobile Developer</li>
        </ul>
        <%-include partials/bottom_nav.ejs%>
            <%-include partials/footer.ejs%>